
#edit_page.col-md-8.col-md-offset-2
    .row
        .panel.panel-default-custom
            .panel-heading
                %h1 Edit Your Note
            .panel-body
                = render 'form' 
                %button.btn.btn-danger
                    =link_to "Cancel", note_path
        