%body.show-body
    .container
        .wrapper_with_padding
            #notes.clearfix
                %a{ href: new_note_path }
                    .note_new
                        %i.fa.fa-plus-circle     
                        %p.title= "Add a New Note"
                     
                #notes.clearfix
                    - @notes.each do |note|       
                        %a{ href: (url_for [note])}
                            .note
                                %p.title= note.title
                                %p.date= time_ago_in_words(note.created_at)
                                                               
                            
