
.banner-red.banner-exact
    .container
        .row
            .col-md-12
        .row
            .col-md-12
                .banner-btns.center-block
                    %h1.text-center dotNote
        .row
            .col-md-8.col-md-offset-2
                %p.climb.text-center Your online NoteBook. Never forgget an idea again
        .row
            .banner-btns-log
                %a.action-btn.animate.center-block.yellow{:href => new_user_registration_path} Sign Up
                %a.action-btn.animate.center-block.blue{:href => new_user_session_path} Log In    
.ban-mid
    .container
        .row.same-height-parent
            .col-md-12
                .panel.same-height{:style => "height: 308px;"}
                    .panel-heading
                        %h1.panel-title One Workspace, Many Ideas
                        %i.fa.fa-file-text-o
#callouts
    .callout_inner
        .wrapper
            .callout
                %i.fa.fa-pencil
                %h2 Notes
                %p The easiest way to make your notes look attractive. Make your classroom a better place to read NoteBooks.
            .callout
                %i.fa.fa-rocket
                %h2 Rocket
                %p The easiest way to make your notes look attractive. Make your classroom a better place to read NoteBooks.
            .callout
                %i.fa.fa-lightbulb-o
                %h2 Light
                %p The easiest way to make your notes look attractive. Make your classroom a better place to read NoteBooks.  

#bottom_cta
    .wrapper
        %h2 Share your Ideas!      
        %p Its <strong>Free</strong> and always will be<strong>...</strong>
        %a.action-btn.animate.center-block.yellow{:href => new_user_registration_path} Sign Up

.footer
    .container-fluid
        .row.footer-imprint
            %p &copy; 2015 dotNot
