#banner
    .banner_content
        %h1 dotNote
        %p Your online NoteBook. Never forget an idea again.
        %button= link_to "Sign Up", new_user_registration_path

#testimonial
    .wrapper
        %p.quote "The Greatest Online NoteBook"
        %p.name "Sahil Khanna"

#callouts
    .callout_inner
        .wrapper
            .callout
                %i.fa.fa-pencil
                %h2 Notes
                %p The easiest way to make your notes look attractive. Make your classroom a better place to read NoteBooks.
            .callout
                %i.fa.fa-rocket
                %h2 Rocket
                %p The easiest way to make your notes look attractive. Make your classroom a better place to read NoteBooks.
            .callout
                %i.fa.fa-lightbulb-o
                %h2 Light
                %p The easiest way to make your notes look attractive. Make your classroom a better place to read NoteBooks.  

#bottom_cta
    .wrapper
        %h2 Share your Ideas!      
        %p Its <strong>Free</strong> and always will be<strong>...</strong>
        %button= link_to "Sign Up", new_user_registration_path

%footer
    %p &copy; <strong>.</strong>Note 2015      
