$dark_blue: #204156;
$light_gray: #23726D;
$green: #879097;

@mixin bold_font {
    font-family: "Brandon Grotesque","Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    padding-top: 4.5rem;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.wrapper_with_padding {
    width: 80%;
    margin: 0 auto;
    padding: 3.5rem 0;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*button, .button {

    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    border: 5px solid #879097;
    outline: none;
    padding: 1rem 1.8rem;
    border-radius: 0.2rem;
    a {
        color: #879097;
        text-decoration: none;
    }
    &:hover {
        border: 5px solid $dark_blue;
         color: $dark_blue;
    }
}

.button {
    color: #879097;
    margin: 2rem 0;
    &:hover {
        border: 5px solid $dark_blue;
         color: $dark_blue;
    }

    
}
*/
a {
    color: #879097;
    text-decoration: none;
    &:hover {
        color: $dark_blue;
    }
}

header {
    background: $dark_blue;
    position: fixed;
    top: 0;
    width: 100%;
    padding: .90rem 0;
    border-bottom: 7px solid $green;
    .header_inner {
        width: 90%;
        margin: 0 auto;
        #logo {
            display: inline-block;
            width: 5rem;
            padding: 0;
            margin-bottom: -10px;
            margin-top: -10px;
            float: left;
        }
        nav {
            float: right;
            a {
                text-decoration: none;
                color: white;
                font-size: 1.1rem;
                line-height: 1.5;
                margin-left: 1rem;
                &:hover {
                    color: $green;
                }
            }
        }
    }
}

footer {
    background: $dark_blue;
    width: 100%;
    padding: 2rem 0;
    color: white;
    text-align: center;
    @include bold_font;
    p {
        margin: 0;
        font-size: .85rem;
    }
}

input[type="text"], input[type="email"], input[type="password"], textarea {
    width: 100%;
    margin-bottom: 1.5rem;
    border: 2px solid $light_gray;
    border-radius: 3rem;
}

input[type="text"], input[type="email"], input[type="password"] {
    margin-top: 5px;
    margin-left: -17px;
    height: 40px;
}

textarea {
    margin: 10px;
    min-height: 200px;
}