$dark_blue: #204156;
$light_gray: #23726D;
$green: #879097;

@mixin bold_font {
    font-family: "Brandon Grotesque","Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
#notes {
    .note {
        background: #4D5B72;
        width: 30%;
        min-height: 150px;
        margin: 1rem 1%;
        padding: 1.5rem 2.5%;
        float: left;
        border-radius: .4rem;
        position: relative;
        .title {
            @include bold_font;
            color: white;
            margin: 0;
            letter-spacing: 1px;
        }
        .date {
            position: absolute;
            bottom: .25rem;
            left: 8.5%;
            color: $green;
            font-size: .85rem;
        }
    }
}

#note_show {
    .title {
        @include bold_font;
        font-size: 3rem;
        margin-bottom: 1.25rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #E9E9E9;
    }
    p {
        font-family: 'Lato', sans-serif;    
        font-size: 1.8rem;
        line-height: 1.75;
        color: #555;
    }
    .buttons {
        margin-top: 3rem;
        a.button {
            margin-right: 15px;
            padding: .5rem 2rem;
            border-radius: .2rem;
            text-decoration: none;
            color: $dark_blue;
            border: 5px solid #999;
            @include bold_font;
            background: transparent;
        }
    }
}